services:
  vaultwarden:
    container_name: vaultwarden
    image: vaultwarden/server:latest
    restart: unless-stopped
    volumes:
      - vaultwarden-data:/data/
    labels:
      traefik.docker.network: proxy
      traefik.enable: "true"
      traefik.http.routers.vaultwarden-secure.entrypoints: websecure
      traefik.http.routers.vaultwarden-secure.middlewares: default@file
      traefik.http.routers.vaultwarden-secure.rule: Host(`{{VAULTWARDEN_FQDN}}`)
      traefik.http.routers.vaultwarden-secure.service: vaultwarden
      traefik.http.routers.vaultwarden-secure.tls: "true"
      traefik.http.routers.vaultwarden-secure.tls.certresolver: http_resolver
      traefik.http.routers.vaultwarden.entrypoints: web
      traefik.http.routers.vaultwarden.rule: Host(`{{VAULTWARDEN_FQDN}}`)
      traefik.http.services.vaultwarden.loadbalancer.server.port: "80"
    networks:
      default: null
      proxy: null

  vaultwarden-resticker:
    image: mazzolino/restic
    container_name: vaultwarden-resticker
    hostname: {{ ansible_host }}
    restart: unless-stopped
    environment:
      BACKUP_CRON: "0 */30 0-2,6-23 * * *"
      RESTIC_BACKUP_SOURCES: /data
      RESTIC_BACKUP_ARGS: >-
        --tag vaultwarden
      RESTIC_FORGET_ARGS: >-
        --keep-last 10
        --keep-daily 7
        --keep-weekly 5
        --keep-monthly 12
{% if UPTIME_KUMA_TOKEN_VAULTWARDEN is defined %}
      POST_COMMANDS_SUCCESS: |-
        curl -s -o /dev/null "https://{{ UPTIME_KUMA_HOST }}/api/push/{{ UPTIME_KUMA_TOKEN_VAULTWARDEN }}?status=up&msg=SUCCESS"
      POST_COMMANDS_FAILURE: |-
        curl -s -o /dev/null "https://{{ UPTIME_KUMA_HOST }}/api/push/{{ UPTIME_KUMA_TOKEN_VAULTWARDEN }}?status=down&msg=FAILURE"
      POST_COMMANDS_INCOMPLETE: |-
        curl -s -o /dev/null "https://{{ UPTIME_KUMA_HOST }}/api/push/{{ UPTIME_KUMA_TOKEN_VAULTWARDEN }}?status=down&msg=INCOMPLETE"
{% endif %}
    env_file:
      - /opt/containers/resticker/.env
    volumes:
      - vaultwarden-data:/data/
      - /opt/containers/resticker/rclone.conf:/run/secrets/rclone.conf:ro
    healthcheck:
      test: ["CMD-SHELL", "restic cat config > /dev/null 2>&1"]
      interval: 5m
      timeout: 30s
      retries: 3
      start_period: 30s

networks:
  default:
  proxy:
    external: true

volumes:
  vaultwarden-data:
    driver: local
