---
x-shared:
  resticker-service: &resticker-service
    image: mazzolino/restic
    hostname: {{ ansible_host }}
    restart: unless-stopped
    volumes:
      - ./rclone.conf:/run/secrets/rclone.conf:ro
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "restic cat config > /dev/null 2>&1"]
      interval: 5m
      timeout: 30s
      retries: 3
      start_period: 30s

services:
  backup:
    <<: *resticker-service
    container_name: resticker-backup
    environment:
      BACKUP_CRON: "0 */30 0-2,6-23 * * *"
      SKIP_INIT: "false"
      RESTIC_BACKUP_SOURCES: >-
        /opt/containers
        /var/lib/docker/volumes
      RESTIC_BACKUP_ARGS: >-
        --tag containers,volumes
      RESTIC_FORGET_ARGS: >-
        --keep-last 10
        --keep-daily 7
        --keep-weekly 5
        --keep-monthly 12
{% if UPTIME_KUMA_TOKEN_RESTIC_BACKUP is defined %}
      POST_COMMANDS_SUCCESS: >-
        curl -s -o /dev/null "https://{{ UPTIME_KUMA_HOST }}/api/push/{{ UPTIME_KUMA_TOKEN_RESTIC_BACKUP }}?status=up&msg=SUCCESS"
      POST_COMMANDS_FAILURE: >-
        curl -s -o /dev/null "https://{{ UPTIME_KUMA_HOST }}/api/push/{{ UPTIME_KUMA_TOKEN_RESTIC_BACKUP }}?status=down&msg=FAILURE"
      POST_COMMANDS_INCOMPLETE: >-
        curl -s -o /dev/null "https://{{ UPTIME_KUMA_HOST }}/api/push/{{ UPTIME_KUMA_TOKEN_RESTIC_BACKUP }}?status=down&msg=INCOMPLETE"
{% endif %}
    volumes:
      - ./rclone.conf:/run/secrets/rclone.conf:ro
      - /opt/containers:/opt/containers
      - /var/lib/docker/volumes:/var/lib/docker/volumes

  prune:
    <<: *resticker-service
    container_name: resticker-prune
    environment:
      PRUNE_CRON: "0 {{ 59 | random(seed=inventory_hostname) }} 4 * * *"
{% if UPTIME_KUMA_TOKEN_RESTIC_PRUNE is defined %}
      POST_COMMANDS_SUCCESS: >-
        curl -s -o /dev/null
        "https://{{ UPTIME_KUMA_HOST }}/api/push/{{ UPTIME_KUMA_TOKEN_RESTIC_PRUNE }}?status=up&msg=SUCCESS"
{% endif %}

  check:
    <<: *resticker-service
    container_name: resticker-check
    environment:
      RUN_ON_STARTUP: "false"
      CHECK_CRON: "0 {{ 59 | random(seed=inventory_hostname) }} 5 * * *"
      RESTIC_CHECK_ARGS: >-
        --read-data-subset=10%
{% if UPTIME_KUMA_TOKEN_RESTIC_CHECK is defined %}
      POST_COMMANDS_SUCCESS: >-
        curl -s -o /dev/null
        "https://{{ UPTIME_KUMA_HOST }}/api/push/{{ UPTIME_KUMA_TOKEN_RESTIC_CHECK }}?status=up&msg=SUCCESS"
{% endif %}
